body{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
width: 100%;
object-fit: contain;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: rgb(247, 245, 242);
    box-shadow: 0 0 5px rgb(161, 159, 159);
    padding: 15px;
}
.navbar img{
    width: 250px;
    height: 250px;
}

.navbar p {
    text-align: center;
}
.buttons button {
    background-color: white;
    border: none;
    color: #fb7802;
    padding: 5px 10px;
    margin-top: 00px;
    font-weight: 600;

}

.buttons button:hover{
    color: white;
    background-color: #fb7802;
}

.intro-bar{
    background-color: #fb7802;
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
}

.intro-bar button{
    background-color: rgb(235, 231, 231);
    border: none;
    color: c10909;
    font-weight: 650;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
}

.intro-bar img{
    object-fit: contain;
}
.intro-bar p{
    color: rgb(248, 242, 242);
    margin: 10px;

}    

.most-popular-section{
    color:rgb(161, 159, 159);
    padding: 20px;
    text-align: center;
}
.most-popular{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}
.most-popular :hover{
    background-color:  #fb7802;
    color: #ffffff;
}
.popular{
    background-color: #f8f5f1;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(161, 159, 159);
}
.popular img{
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.precision-engineer-tools-section{
   margin-bottom: 40px;
  
}
.precision-banner {
    background-color: #fb7802;
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
}
.precision-banner img{
   
   height: auto;
   width: 300px;
}
.precision-engineering{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    
}

.precision-tools{
    box-shadow: 0 0 5px rgb(161, 159, 159);
    text-align: center;
}
.precision-text{
    
    padding: 20px;
    margin-bottom: 15px;
}
.precision-banner h3{
    margin-top: 30px;
}

.ptext-one{
    margin-bottom: 30px;
}

.error-container{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#4b4643,#17533a);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}
.error-container h1{
    font-size: 200px;
    margin: 0;
    font-weight: 900;
    color: #fff;
    letter-spacing: 10px;
    background: url(image/bg-logo-two.jpg)  center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.error-container p{
    margin-bottom: 40px;
    color: #fff;
}

.error-container h2{
    color: #f8f5f1;
    font-size: ;
}
.error-container a{
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px;
    display: inline-block;
    border-radius: 5px;
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.4s;
}

.error-container a:hover{
    background: #fb7802;
}

.login-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: rgb(247, 245, 242);
    box-shadow: 0 0 5px rgb(161, 159, 159);
    padding: 15px;

}
.login-navbar img{
    width: 250px;
    height: 250px;
}
.login-body-box{
    margin: 0;
    padding: 0;
    background: #485b6c;
    font-family: sans-serif;

} 

.login-box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}
.login-box h1{
    color: #f8f5f1;
    text-transform: uppercase;
    font-weight: 500;
}
.login-box input[type = "text"], .login-box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #f8f5f1;
    border-radius: 20px;
    transition: 0.25s;
}
.login-box input[type = "text"]:focus,.login-box input[type = "password"]:focus{
    width: 250px;
    border-color: #2ecc71;
}
.login-box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #f8f5f1;
    border-radius: 15px;
    transition: 0.25s;
}
.login-box a{
    text-transform: uppercase;
}